.dropdown-divider{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.container-dash{
    margin-top: 30px;
}
.single-post{
    margin-top: 30px;
}
.pagination-holder{
    margin-top: 30px;
}
.post-like-hr{
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}

